<h1>Add or Update an Event</h1>

<div id="EventFormContainer" class="container-fluid">
  <form id="EventForm" action="">
    <div class="panel panel-default">
      <div class="panel-heading"><label for="EventNameInput">Enter any part of event name or number: <input
        id="EventNameInput" type="text"/></label></div>
      <div class="panel-body">
        <div class="dropdown"><p>Put my select drop-down here ... populate the select list when I type in the event name
          or number.</p></div>
      </div>
    </div>
  </form>
</div>