<h1>Add or Update a Dog Record</h1>

<div id="DogFormContainer" class="container-fluid">
  <form id="DogForm" action="">
    <div class="panel panel-default">
      <div class="panel-heading"><label for="DogNameInput">Enter any part of dog's registered name: <input
        id="DogNameInput" type="text"/></label></div>
      <div class="panel-body">
        <div class="dropdown"><p>Put my select drop-down here ... populate the select list when I type in the dog's name
          or registration number.</p></div>
      </div>
    </div>
  </form>
</div>