<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'HOME' | translate}}</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'ABOUT' | translate}}</a>
  <a [routerLink]="['/dog']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'DOG' | translate}}</a>
  <a [routerLink]="['/organization']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'ORGANIZATION' | translate}}</a>
  <a [routerLink]="['/titlecategory']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'TITLECATEGORY' | translate}}</a>
  <a [routerLink]="['/title']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'TITLE' | translate}}</a>
  <a [routerLink]="['/breed']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'BREED' | translate}}</a>
  <a [routerLink]="['/breedGroup']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'BREEDGROUP' | translate}}</a>
  <a [routerLink]="['/memberClub']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'MEMBERCLUB' | translate}}</a> 
  <a [routerLink]="['/person']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'PERSON' | translate}}</a>
  <a [routerLink]="['/event']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'EVENT' | translate}}</a>
</nav>

