<nav>
  <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'HOME' | translate}}</a>
  <a [routerLink]="['/about']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'ABOUT' | translate}}</a>
  <a [routerLink]="['/dog']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'DOG' | translate}}</a>
  <a [routerLink]="['/person']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'PERSON' | translate}}</a>
  <a [routerLink]="['/event']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">{{'EVENT' | translate}}</a>
</nav>

